p {
     font-family: Arial;
   }
h1 {
    color: maroon;
 }
.title {
    color: teal;
}
/*how to change specific elements in a cascading project even if other elements with those same properties exist*/
