/* <h1 class="title uppercase">Top Vacation Spots</h1>
  <h5>By: Stacy Gray</h5>
  <h6>Published: 2 Days Ago</h6>*/
  p {
     font-family: Arial;
   }
h1 {
    color: maroon;
 }
.title {
    color: teal;
}
.uppercase {
    text-transform: uppercase;
}
/*More versalitiy in using cascades and class attributes*/ 
